<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TODO LIST</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1>MY TO DO LIST</h1>
    <div id="todo-table">
      <form class="" action="index.html" method="post">
        <input type="text" name="item" placeholder="Add new item" required/>
        <button type="submit" name="button">ADD ITEM</button>
      </form>
      <ul>
        <% for(var i=0;i<todos.length;i++){ %>
          <li> <%= todos[i].item %></li>
        <% } %>
      </ul>
    </div>
    <script src="/jquery-3.3.1.js"></script>
    <script src="/todo-list.js"></script>
  </body>
</html>
